@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
//

// Modules
// @import "modules/my-module.scss";
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 1120px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1220px;
  }
}
@media screen and (min-width: 1400px)  {
  .container {
    max-width: 1420px;
  }
}
.top {
  position: fixed;
  z-index: 10000;
  bottom: 5%;
  right: 5%;
  text-align: center;
  cursor: pointer;
  display: none;
  p {
    color: #000;
    padding-top: 10px;
    font-weight: 900;
  }
}



@import "modules/header";
@import "modules/footer";
@import "modules/section";
@import "modules/title";
@import "components";

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  color: #000;
  font-size: rem(13);
  a {
    color: #000;
    &::after {
      content: '-';
      padding: 0 5px;
    }
  }
}