header.header
  .container
    .row.d-flex.align-items-center
      .col-6.col-md-2.col-lg-5
        .row.d-flex.align-items-center
          .col-12.col-lg-3
            .header__logo
              a(href='#')
                <svg width="114" height="124" viewBox="0 0 114 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M57 0L0 56.7009L5.37736 62L0 67.2991L57 124L114 67.2991L108.623 62L114 56.7009L57 0Z" fill="#0074B8"/>
                <path d="M3.33392 67.2991L57 14.0957L110.451 67.2991L57 120.609L3.33392 67.2991Z" fill="#0074B8"/>
                <path d="M57 121.351L2.68863 67.2993L57 13.248L111.311 67.2993L57 121.351ZM4.19429 67.2993L57 119.761L109.698 67.2993L57 14.8378L4.19429 67.2993Z" fill="#FEFEFE"/>
                <path d="M3.33392 56.701L57 3.49756L110.451 56.701L57 110.01L3.33392 56.701Z" fill="#0074B8"/>
                <path d="M57 110.752L2.68863 56.7007L57 2.64941L111.311 56.7007L57 110.752ZM4.19429 56.7007L57 109.162L109.698 56.7007L57 4.23916L4.19429 56.7007Z" fill="#FEFEFE"/>
                <path d="M13.766 57.0188L56.9999 14.0957L100.126 57.0188L56.9999 99.8359L13.766 57.0188Z" fill="#0074B8"/>
                <path d="M57.0001 100.578L13.1208 57.019L57.0001 13.248L100.879 57.019L57.0001 100.578ZM14.6265 57.019L57.0001 99.0942L99.3737 57.019L57.0001 14.8378L14.6265 57.019Z" fill="#FEFEFE"/>
                <path d="M95.9321 43.877H17.9604V69.1009H95.9321V43.877Z" fill="#FEFEFE"/>
                <path d="M32.2642 67.4052L38.717 45.7847H31.834C31.834 45.7847 29.5755 55.1112 29.3604 56.8069H29.2529C29.0378 55.1112 26.9944 45.7847 26.9944 45.7847H20.3265L25.7038 67.4052H32.2642Z" fill="#0074B8"/>
                <path d="M41.0831 67.4052H53.0209V62.318H47.536V58.9266H51.7303V53.7334H47.536V50.7659H53.0209V45.6787H41.0831V67.4052Z" fill="#0074B8"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M74.4227 67.4052L68.7227 56.171L73.7774 45.6787H67.1095L63.5604 53.4155H63.4529H63.5604H63.4529H63.5604V45.6787H57.1076V67.4052H63.5604V58.9266H63.668H63.5604L67.5397 67.4052H74.4227Z" fill="#0074B8"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M83.1341 59.1385L83.9944 54.8992C84.2095 53.6274 84.4246 52.2496 84.5322 50.7659H84.6397C84.8548 52.1436 84.8548 53.5214 85.1774 54.8992L85.8227 59.1385H83.1341ZM93.6737 67.4052L88.619 45.7847H80.8756L75.1756 67.4052H81.8435L82.3812 64.6496H86.6831L87.2208 67.4052H93.6737Z" fill="#0074B8"/>
                </svg>

          .col-12.col-lg-9.d-md-none.d-none.d-lg-block
            .header__text VEKAMOTION 82
      .col-4.offset-2.offset-md-7.col-md-3.offset-lg-0.col-lg-7
        .row.d-flex.align-items-center
          .col-12.col-lg-8.d-none.d-lg-block
            ul.header__menu.d-flex.justify-content-between
              li
                a(href='#') ТЕХНОЛОГИЯ
              li
                a(href='#') ПОЧЕМУ VEKAMOTION
              li
                a(href='#') ГДЕ КУПИТЬ?
          .col-6.col-md-6.col-lg-4
            a(href='#').header__button
              span.header__button-text.d-none.d-lg-block ЗАЯВКА НА ЗАМЕР
              <i class="bi bi-telephone d-lg-none"></i>
          .col-6.d-lg-none
            .header__burger.header__button
              <i class="bi bi-list"></i>
    .header__mobile-menu
      ul.header__menu
        li
          a(href='#') ТЕХНОЛОГИЯ
        li
          a(href='#') ПОЧЕМУ VEKAMOTION
        li
          a(href='#') ГДЕ КУПИТЬ?

