extends ../layout/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';

block content
    section.section.section_documents
        .container
            .row
                .col-12
                    h1.title.title_dark.title_main.title_uppercase документы
                    ul.breadcrumbs
                        li
                            a(href='#') Главная
                        li
                            span Документы
        .container
            .row
                .col-12
                    .document__wrap
                        -for(let i = 0; i<10;i++)
                            .document
                                .container
                                    .row.d-flex.align-items-center
                                        .col-4.col-md-1
                                            .document__image
                                                <svg width="54" height="77" viewBox="0 0 54 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M53.0302 19.5197L36.8126 1.23613C36.3604 0.726367 35.75 0.4375 35.1094 0.4375H3.09612C1.76223 0.4375 0.68457 1.65244 0.68457 3.15625V73.8438C0.68457 75.3476 1.76223 76.5625 3.09612 76.5625H51.327C52.6609 76.5625 53.7386 75.3476 53.7386 73.8438V21.4483C53.7386 20.7262 53.4824 20.0295 53.0302 19.5197ZM48.177 22.6973H33.9941V6.70762L48.177 22.6973ZM48.3126 70.4453H6.11055V6.55469H28.8695V24.9062C28.8695 25.8526 29.203 26.7603 29.7966 27.4295C30.3902 28.0987 31.1952 28.4746 32.0347 28.4746H48.3126V70.4453ZM28.4249 35.1016H25.9983C25.5838 35.1016 25.2221 35.4159 25.1241 35.8747L21.3787 52.7734L17.9045 35.8917C17.8066 35.4329 17.4448 35.1016 17.0228 35.1016H14.355C14.2164 35.1018 14.0797 35.1379 13.9554 35.2071C13.8311 35.2763 13.7225 35.3767 13.6381 35.5007C13.5536 35.6246 13.4956 35.7687 13.4683 35.9219C13.441 36.0752 13.4453 36.2334 13.4808 36.3845L19.0726 59.8337C19.1781 60.2755 19.5399 60.5898 19.9468 60.5898H22.3583C22.7653 60.5898 23.127 60.284 23.2325 59.8337L27.2116 43.0964L31.1906 59.8337C31.2961 60.2755 31.6579 60.5898 32.0648 60.5898H34.4613C34.8682 60.5898 35.23 60.284 35.3355 59.8337L40.9423 36.3845C40.9775 36.2334 40.9816 36.0753 40.9542 35.9222C40.9268 35.7691 40.8687 35.6252 40.7843 35.5013C40.6999 35.3775 40.5915 35.2771 40.4674 35.2078C40.3432 35.1385 40.2067 35.1021 40.0681 35.1016H37.3853C36.9633 35.1016 36.6015 35.4329 36.5036 35.8917L33.052 52.8074L29.2991 35.8747C29.2011 35.4159 28.8394 35.1016 28.4249 35.1016Z" fill="#0074B8"/>
                                                </svg>
                                        .col-8.offset-md-1.col-md-6
                                            h3.document__title Название документ длинное название в две строки
                                        .col-6.col-md-2
                                            .document__date 24.12.2021
                                        .col-6.col-md-2
                                            .document__download
                                                a(href='#')
                                                    <svg width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18.5734 27.3335L24.6346 18.7918H20.0887V6.8335H17.0581V18.7918H12.5122L18.5734 27.3335Z" fill="#0074B8"/>
                                                    <path d="M30.6958 30.7498H6.45101V18.7915H3.42041V30.7498C3.42041 32.6341 4.77963 34.1665 6.45101 34.1665H30.6958C32.3672 34.1665 33.7264 32.6341 33.7264 30.7498V18.7915H30.6958V30.7498Z" fill="#0074B8"/>
                                                    </svg>
                                                    span Скачать
