extends ../layout/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';

block content
    section.section.section_technologies
        .container
            .row
                .col-12.col-lg-6
                    h1.title.title_dark.title_main.title_uppercase о технологии
                    .title__desc.title__desc_left.title__desc_tech Текст небольшой - в качестве доп подзаголовка который используется для раскрытия основной идеии блока или описание доп функционала
                    ul.technology__head
                        li.active
                            a(href='#') Современная технология
                        li
                            a(href='#') Гидроизоляция
                        li
                            a(href='#') Шумоизоляция
                        li
                            a(href='#') Дизайнерский вид
                        li
                            a(href='#') Увеличение пространства
                .col-12.col-lg-6
                    .technology__wrap
                        .technology__item.active
                            img(src='../assets/img/tech1.jpg')
                        .technology__item
                            img(src='../assets/img/tech1.jpg')
    section.section.section_tech
        .container
            .row
                .col-12.col-lg-6
                    h2.title.title_second.title_dark Технология производства
                    .title__desc.title__desc_left Текст небольшой - в качестве доп подзаголовка который используется для раскрытия основной идеии блока или описание доп функционала
                -for (let i = 0; i < 8; i++)
                    .col-12.col-md-6.col-lg-3
                        a(href='#').tech__item
                            .tech__image
                                img(src='../assets/img/tech.jpg')
                            .tech__text
                                p Уплотнители Уплотнители Уплотнители  1231231Уп Уплотнители Уплотнители Уплотнители  1231231Уп Уплотнители Уплотнители Уплотнители  1231231Уп
    section.section.section_blue.section_portfolio
        .container
            .row
                .col-12
                    h2.title.title_uppercase.title_blue.title_second Разработали и воплотили в жизнь <br/>комфортный дизайн
        .container
            .row
                .col-12
                    ul.portfolio__tabs
                        li.active
                            a(href='#') выход на террасу
                        li
                            a(href='#') выход на террасу
                        li
                            a(href='#') выход на террасу
                .col-12
                    .portfolio__content
                        .portfolio__wrapper.active
                            .portfolio-slider
                                -for (let i = 0; i<4;i++)
                                    .portfolio__slide
                                        .container
                                            .row
                                                .col-12.col-lg-6
                                                    img(src='../assets/img/slide.jpg')
                                                .col-12.col-lg-6
                                                    h3.portfolio__title Вас встретит здание, в которое приятно заходить
                                                    .portfolio__text
                                                        p Текст небольшой - в качестве доп подзаголовка который используется для раскрытия основной идеии блока или описание доп функционала
                                                        p Текст небольшой - в качестве доп подзаголовка который используется для раскрытия основной идеии блока или описание доп функционала
                        .portfolio__wrapper
                            .portfolio-slider
                                -for (let i = 0; i < 4; i++)
                                    .portfolio__slide
                                        .container
                                            .row
                                                .col-12.col-lg-6
                                                    img(src='../assets/img/slide.jpg')
                                                .col-12.col-lg-6
                                                    h3.portfolio__title Вас встретит здание, в которое приятно заходить
                                                    .portfolio__text
                                                        p Текст небольшой - в качестве доп подзаголовка который используется для раскрытия основной идеии блока или описание доп функционала
                                                        p Текст небольшой - в качестве доп подзаголовка который используется для раскрытия основной идеии блока или описание доп функционала
    section.section.section_callback
        .container
            .row
                .col-12.col-lg-10.offset-lg-2
                    .callback.callback_left
                        .row.d-flex.align-items-center
                            .col-12.col-md-6
                                h2.callback__title Стоимость легко рассчитать с помощью нашего калькулятора
                            .col-12.col-md-3
                                .form__item.form__item_white
                                    input(type='email' placeholder='email')
                            .col-12.col-md-3
                                .callback__button
                                    <svg width="115" class="callback__rect" height="115" viewBox="0 0 115 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M57.2754 0L114.551 57.2756L57.2754 114.551L-0.000257671 57.2756L57.2754 0Z" fill="#2B8CFC"/>
                                    </svg>
                                    a(href='#')
                                        span Отправить
                                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.9699 0.873901L9.93563 1.90818L14.8109 6.78131H0.390625V8.21881H14.8109L9.93634 13.0927L10.9699 14.1262L17.0793 8.01684L17.5731 7.50006L17.0793 6.98328L10.9699 0.873901Z" fill="white"/>
                                        </svg>
    .section.section_vendors
        .container
            .slider-vendors
                - for (let i = 0; i<10;i++)
                    .vendor
                        img(src="../assets/img/vendor.png")