.section {
  &_first {
    padding-top: 40px;
  }
  &_blue {
    background-color: #DCF1FE;
  }
  &_portfolio {
    padding-top: 150px;
    @include media(992) {
      padding-top: 60px;
    }
  }
  &_about {
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    @include media(992) {
      padding-top: 50px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 603.61px;
      height: 603.61px;
      left: -177px;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);

      background: rgba(80, 186, 248, 0.2);
      @include media(992) {
        width: 300px;
        height: 300px;
      }
    }
  }
  &_products {
    padding-top: 220px;
    position: relative;
    padding-bottom: 190px;
    overflow-y: hidden;
    overflow-x: hidden;
    @include media(992) {
      padding: 60px 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 1120.61px;
      height: 1120.61px;
      right: -177px;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);

      background: rgba(80, 186, 248, 0.2);
    }
  }
  &_tabs {
    padding-bottom: 137px;
    @include media(992) {
      padding-bottom: 60px;
    }
  }
  &_slider {
    padding-bottom: 160px;
    @include media(992) {
      padding-bottom: 60px;
    }
  }
  &_callback {
    overflow: hidden;
    &-footer {
      padding-top: 150px;
    }
  }
  &_tech {
    position: relative;
    padding-top: 177px;
    overflow: hidden;
    @include media(992) {
      padding-top: 50px;
    }
    &::before {
      content: '';
      width: 950px;
      height: 514px;
      left: 0px;
      top: 0;
      position: absolute;
      background: rgba(80, 186, 248, 0.2);
    }
  }
  &_form {
    padding-top: 204px;
    @include media(992) {
      padding-top: 60px;
    }
  }
  &_vendors {
    padding: 90px 0 140px;
    @include media(992) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .vendor {
      margin: 0 50px;
      @include media(992) {
        margin: 0 20px;
      }
      img {
        max-width: 100%;
        vertical-align: top;
      }
    }
  }
  &_documents {
    padding-top:120px;
    padding-bottom: 150px;
  }
  &_technologies {
    padding-top: 80px;
    padding-bottom: 137px;
    @include media(992) {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
}